#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:'Times New Roman', Times, serif;
}

#buttonContainer{
    text-align:center;

}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color:aquamarine;
    background-color: #12127c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}

.buttons:hover{
    background-color: blueviolet;
}